.settings {
    width: 30%;
    height: 100%;
    background-color: pink;
    position: absolute;
    top: 0;
    right: -30%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-in-out;
}

.settings.open {
    right: 0;
}